[submodule "third_party/nuscenes-devkit"]
	path = third_party/nuscenes-devkit
	url = git@github.com:michael-hoss/nuscenes-devkit.git
[submodule "third_party/private-research"]
	path = third_party/private-research
	url = git@github.com:michael-hoss/private-research.git
[submodule "third_party/omega_format"]
	path = third_party/omega_format
	url = git@github.com:michael-hoss/omega_format.git
[submodule "third_party/commonroad-crime"]
	path = third_party/commonroad-crime
	url = git@github.com:michael-hoss/commonroad-crime.git
