# All Python dependencies for running those `research/` activities that are still
# maintained and that can be installed together into one up-to-date python environment.
pyproj==3.6.1
utm==0.7.0
rich==13.7.1
-r research/delta_crit/requirements.txt

# Research activities that have conflicting outdated dependencies, and therefore
# need their own separate Python environment
# -r research/v2x_eval/requirements.txt
