# Python requirements for developing in this repo.
# This file only consists common requirements for code style, testing etc.

# The actual requirements for running the individual `research/` activities are in 
# their respective requirements.txt files. In general they conflict with each other, 
# so a developer environment for a given research activity needs to be set up
# manually by installing both this file and the respetive requirements.txt file.

# Development tools
ruff==0.7.1
debugpy==1.8.9
pytest==8.1.1
mypy==1.13.0
pre-commit==4.0.1

# Requirements for development utilities and tests
python-dotenv==1.0.1
requests==2.32.3

# Library stubs for type checking
types-Pillow==10.2.0.20240822
