# Python requirements for developing in this repo

# Development tools
ruff==0.3.5
debugpy==1.8.1
pytest==8.1.1
mypy==1.9.0
pre-commit==3.7.0
python-dotenv==1.0.1

# Library stubs for type checking
types-Pillow==10.2.0.20240331

# Requirements only needed to run tests
requests==2.32.3

# Requirements for running the code
-r ./requirements.txt
