# Own direct requirements
notebook==7.3.2
dataclasses-json==0.6.7
omegaconf==2.3.0

# Indirect requirements from other parts of this codebase
# No other dependencies yet, but I want to be able to use all of //base/..., 
# and keep these requirements in sync, so I add those requirements here already.
-r ../../base/requirements.txt

# For further manual installations, see the readme!
